.ch-spotlight-tab {
  border: none !important;
  color: rgb(148 163 184);
}

.ch-spotlight-tab:hover {
  color: rgb(15 23 42);
  cursor: pointer;
}

.ch-spotlight-tab[data-selected] {
  color: rgb(15 23 42);
  cursor: pointer;
}

.ch-spotlight-sticker {
  width: 512px !important;
}
